<div id="print_shibgd2" >
    <style type="text/css">
        .print_com1 {
            margin: 0;
            padding: 0;
            font-family: "仿宋";
            font-size: 16pt;
            color: #333;
        }

        .title1 {
            width: 650px;
            margin: 0 auto;
            text-align: center;
            font-size: 20pt;
            padding: 106px 0 26px 0;
        }

        .f-title1 {
            width: 650px;
            margin: 0 auto;
        }

            .f-title1 span {
                min-width: 50px;
                border-bottom: 1px solid #333;
                padding: 0 5px 0 6px;
                text-align: center;
                line-height: 18px;
            }

                .f-title1 span.zk {
                    min-width: 20px;
                    border-bottom: none;
                }

                .f-title1 span.rq {
                    min-width: 80px;
                }

            .f-title1 p {
                line-height: 30px;
                text-align: left;
            }

            .f-title1 .fk {
                text-indent: 28px;
            }

            .f-title1 .tk {
                padding-top: 15px;
            }

            .f-title1 .fk2 {
                text-indent: 52px;
            }

        .tab1 {
            border: 1px #333 solid;
            border-collapse: collapse;
            border-spacing: 0;
            width: 650px;
            margin: 0 auto;
            margin-top: 15px;
        }

            .tab1 td, .tab th {
                border-left: 1px solid #333;
                border-top: 1px solid #333;
                padding: 7px 0 7px 0;
                text-align: center;
            }

            .tab1 th {
                background: #f6f6f6;
                font-weight: normal;
            }

            .tab1 .tl {
                width: 140px;
                font-size: 15pt;
                line-height: 50px;
            }

        .x-title1 {
            width: 650px;
            margin: 0 auto;
            text-align: right;
            line-height: 26px;
            margin-top: 50px;
        }

            .x-title1 span {
                min-width: 50px;
                border-bottom: 1px solid #333;
                display: inline-block;
                padding: 0 5px 0 6px;
                text-align: center;
                line-height: 18px;
            }

                .x-title1 span.x {
                    min-width: 30px;
                }

                .x-title1 span.xx {
                    min-width: 20px;
                }

        .wy {
            width: 96%;
            margin: 0 auto;
            text-align: left;
            line-height: 35px;
        }

            .wy span {
                min-width: 50px;
                border-bottom: 1px solid #333;
                padding: 0 5px 0 6px;
                text-align: center;
                line-height: 30px;
            }

        .sh {
            width: 96%;
            margin: 0 auto;
            text-align: left;
            line-height: 18px;
            font-size: 14pt;
        }

            .sh span {
                min-width: 26px;
                padding: 0 5px 0 6px;
                text-align: center;
                line-height: 18px;
            }

            .sh .tlk {
                text-indent: 28px;
            }

            .sh .txtk {
                padding-top: 16px;
            }

            .sh .xk {
                padding-bottom: 16px;
            }

            .sh span.qz {
                min-width: 90px;
            }

        .foot {
            width: 650px;
            margin: 0 auto;
            line-height: 26px;
            margin-top: 50px;
        }
    </style>
    <div class="print_com1" style="text-align:center;">
        <div class="title1" >XXX委托审批意见书</div>
        <div class="f-title1">单位（盖章）：&#12288;xxxxxxxx&#12288;<span class="print_shi_xhmc"></span>&#12288;<span class="zk"></span>收文日期：<span class="rq">&#12288;2019-04-15&#12288;</span></div>
        <table class="tab1">
            <tr style="font-size:16pt;">
                <td colspan="2">
                    <div class="wy">
                        &#12288;&#12288;<span class="tjs_shimcnd"></span>年度<span class="tjs_xmmc"></span>项目救助<span class="print_shi_jzrs"></span>人，共需资金<span class="print_shi_jzzj"></span>万元（人民币），请审核。
                        <ul class="print_shi_xlist"></ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tl">
                    市级项目官员<br />
                    审核意见
                </td>
                <td>
                    <div class="sh">
                        <p class="tlk">经复核、抽查，该项目按年度计划执行，材料真实准确，符合救助条件，申报流程合规，同意实施并承担相应的监督责任。</p>
                        <p class="txtk">签字：<span class="qz">&#12288;&#12288;&#12288;&#12288;</span><span>&#12288;&#12288;</span>年<span>&#12288;&#12288;</span>月<span>&#12288;&#12288;</span>日</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tl">
                    市级秘书长<br />
                    审核意见
                </td>
                <td>
                    <div class="sh">
                        <p class="tlk">经对项目材料和复核、抽查流程的审查，该项目符合年度计划和申报条件，同意实施并承担相应的监督责任。</p>
                        <p class="txtk">签字：<span class="qz">&#12288;&#12288;&#12288;&#12288;</span><span>&#12288;&#12288;</span>年<span>&#12288;&#12288;</span>月<span>&#12288;&#12288;</span>日</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tl">
                    市级领导<br />
                    审批意见
                </td>
                <td>
                    <div class="sh">
                        <p class="tlk">经县级和本市对项目的审查复核，该项目符合相关要求，同意实施、报XXXXX并承担相应的监督责任。</p>
                        <p class="txtk">签字：<span class="qz">&#12288;&#12288;&#12288;&#12288;</span><span>&#12288;&#12288;</span>年<span>&#12288;&#12288;</span>月<span>&#12288;&#12288;</span>日</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tl">
                    XXXXXX<br />
                    金会备案确认
                </td>
                <td>
                    <div class="sh">
                        <p class="txtk">项目部审核：</p>
                        <p class="txtk">资金部审核：</p>
                        <p class="txtk">秘书长（签字）：<span class="qz">&#12288;&#12288;&#12288;&#12288;</span><span>&#12288;&#12288;</span>年<span>&#12288;&#12288;</span>月<span>&#12288;&#12288;</span>日</p>
                        <p class="txtk xk">负责人（签字）：<span class="qz">&#12288;&#12288;&#12288;&#12288;</span><span>&#12288;&#12288;</span>年<span>&#12288;&#12288;</span>月<span>&#12288;&#12288;</span>日</p>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
